Flask==2.2.2
blinker
click
itsdangerous
Jinja2
Werkzeug
gitpython
matplotlib
psutil  
PyYAML
requests
scipy
thop  
MarkupSafe
colorama
numpy==1.21.6
opencv_python
opencv_python_headless
Pillow
torch
gunicorn
setuptools
wheel
pandas
ultralytics